aside {
  background-image: url("../img/Retângulo 11@2x.png");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  height: 58vh;
  .info {
    margin: 25px 97px;
    .h2 {
      font: italic normal normal 34px/46px "Poppins";
      color: $mainColor;
      text-transform: uppercase;
    }
    p {
      font: normal normal normal 18px/24px "Poppins";
      color: $mainColor;
    }
  }
}

// reposive

@media (min-width: 200px) and (max-width: 800px) {
  aside {
    position: relative;
    background-image: url("../img/Retângulo 11@2x.png");
    background-size: cover;
    height: 28vh !important;
    .info {
      position: absolute;
      bottom: 0;
      margin: 0 auto !important;
      .h2 {
        font: normal normal 22px/20px "Poppins" !important;
        color: $mainColor;
        text-transform: uppercase;
      }
      p {
        font: normal normal normal 16px/16px "Poppins" !important;
        color: $mainColor;
      }
    }
  }
}
