footer {
  @extend %d-center;
  height: 15vh;
  .group {
    @extend %d-evenly;
    width: 40%;
    small {
      margin-left: 90px;
      font: normal normal normal 12px/16px Segoe UI;
      text-align: center;
      color: $smalTxt;
    }
  }
}

@media (min-width: 200px) and (max-width: 800px) {
  footer {
    height: 20vh !important;
    .group {
      position: relative;
      img {
        height: 29px;
        transform: translate(50%, -30px);
      }
      .logo-ibana {
        transform: translate(50px, 40px);
      }
      small {
        position: absolute;
        bottom: -34px;
        margin-left: 0 !important;
        font: normal normal normal 8px/16px Segoe UI !important;
      }
    }
  }
}
