$mainColor: #ffffff;
$red: #df0209;
$centralTxt: #727b7a;
$subColor: #eeeeee;
$text: #000000;
$circle: #808080;
$icons: #c5c5c5;
$smalTxt: #707070;
$form: #eeeeee;
$placeholder: #00000061;
$btn: #1cb72a;
